<div class="contact-main">
  <img alt="Open" class="icon-menu" src="<%= asset_path 'menu-black.svg' %>" width="24px" />
  <div class="container">
    <div class="row">
      <div class="content col-md-6">
        <h2>All public repos</h2>
        <% @myrepos.each do |repo| %>
        <p> <%= repo.name %> </p>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="content col-md-6">
        <h2>Forked repos</h2>
        <% @myforkedrepos.each do |forkedrepo| %>
        <p> <%= forkedrepo.name %> </p>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="content col-md-6">
        <h2>Own repos</h2>
        <% @myownrepos.each do |ownrepo| %>
        <p> <%= ownrepo.name %> </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
