<div class="jumbotron">
  <div class="backimage" style="background-image: url(<%= asset_path 'social_media.png' %>); ">
    <div class="container">
      <div class="main">
        <h1>Social media app</h1>
        <a class="btn-start" href="#getstarted">Get Started</a>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron">
  <div class="backimage" style="background-image: url(<%= asset_path 'keyboard.png' %>);">
    <div class="container">
      <div class="main">
        <h1>Music app</h1>
        <a class="btn-start" href="#getstarted">Get Started</a>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron">
  <div class="backimage">
    <div class="container">
      <div class="main">
        <h1>Hello. My name is <b>Ana Maria Reyes</b> and I want to develop new ideas.</h1>
        <a class="btn-start" href="#getstarted">Get Started</a>
      </div>
    </div>
  </div>
</div>
