<script src="//unslider.com/unslider.js"></script>

<div class="jumbotron">
  <div class="container">
    <div class="banner">
      <ul>
          <li>This is a slide.</li>
          <li>This is another slide.</li>
          <li>This is a final slide.</li>
      </ul>
    </div>
  </div>
</div>
