/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body {
     margin: 0
 }

 body {
     font-family: 'Roboto', sans-serif
 }

 h1 {
     font-size: 50px
 }

 h2 {
     font-size: 35px;
     font-weight: 300
 }

 .btn-default, .btn-primary {
     border-radius: 0;
     font-size: 16px;
     padding: 12px 26px;
 }

 .btn-primary {
     background-color: #2E72BD
 }

 .home-main {
     /*background-image: url('home.jpeg');*/
     background-size: cover;
     height: 800px
 }

 .home-main .content {
     position: relative;
     top: 150px;
     text-align: center
 }

 .home-main h1 {
     color: #fff;
     font-weight: 100;
     margin-bottom: 30px;
     text-align: center;
     text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4)
 }

 .home-supporting, .home-about, .about-supporting {
     padding: 80px 0;
     text-align: center
 }

 .home-supporting h2, .home-about h2, .about-supporting h2 {
     color: #000;
     margin: 30px 0
 }

 .home-supporting p {
     font-size: 21px;
     font-weight: 100
 }

 .home-secondary {
     background: url(https://s3.amazonaws.com/codecademy-content/projects/broadway/bg.jpg) no-repeat center center;
     background-size: cover;
     height: 500px
 }

 .about-main {
     /* background-image: url('about1.jpg') no-repeat center center;
     background-size: cover;*/
     height: 700px;
     background-size:cover;
     background-repeat:no-repeat;
 }

 .about-main .content {
     position: relative;
     top: 150px;
     text-align: center
 }

 .about-main h1 {
     color: #fff;
     font-weight: 100;
     margin-bottom: 30px;
     text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
 }

 .about-main p {
     font-size: 21px;
     font-weight: 100
 }

 .about-supporting p {
     margin-top: 30px;
     font-size: 18px;
     font-weight: 300;
 }

 .share-main {
     /* background: url() no-repeat center center;
     background-size: cover; */
     height: auto
 }

 .share-main .content {
     position: relative;
     top: 150px;
     text-align: center
 }

 .share-main h1 {
     color: #888;
     font-weight: 100;
     margin-bottom: 10px;
     margin-top: 50px;
     text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
     text-align: center;
 }

 .share-main h2 {
     color: #555;
     font-weight: 100;
     font-size: 200%;
     margin-bottom: 30px;
     /* text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4); */
     text-align: left;
 }

 .share-main p {
     text-align: justify;
 }

 .share-main btn-primary {
    display: flex;
    justify-content: center;
 }

 .footer {
    /* background-color: #fff; */
    background-color: #f9f9f9;
    border-top: solid 1px #F5F5F5;
    height: 100px;
    text-align: right;
    width: 100%
    padding: 40px 0 30px 0;
  }

.footer p {
    font-size: 12px;
    color: #555;
}

.footer .social_media {
    margin: 25px 0 10px;
    width: 100%
}

.social_media li {
    display: inline-block;
    margin: 0 0 0 15px;
    text-align: left;
}

.social_media li a {
    display: block;
    height: 32px;
    width: 32px;
}

.github {
    background-image: url('github.svg');
    background-position: center center
}

.linkedin {
    background-image: url('linkedin.svg');
    background-position: center center
}

.tumblr {
    background-image: url(/tumblr.svg);
    background-position: center center
}

.twitter {
    background-image: url(/assets/twitter-8c095eaee58362a46d56e3f07b50b23b.svg);
    background-position: center center
}

.youtube {
    background-image: url(/youtube.svg);
    background-position: center center
}

.vimeo {
    background-image: url(/vimeo.svg);
    background-position: center center
}

.instagram {
    background-image: url(/assets/instagram-057a090ac0e0184c68efc07e412eec3b.svg);
    background-position: center center
}

.facebook {
    background-image: url(/assets/facebook-70848fad6bf158b9a52e47d9bc956b8a.svg);
    background-position: center center
}

.pinterest {
    background-image: url(/pinterest.svg);
    background-position: center center
}

.gplus {
    background-image: url(/assets/gplus-b3a33145641e08e048cd10ed0ece59ce.svg);
    background-position: center center
}

.menu {
   background-color: #000;
   height: 100%;
   position: fixed;
   top: 0;
   width: 240px;
   left: -240px;
   z-index: 1
}

.menu ul {
   list-style: none;
   padding-left: 0
}

.menu li a, .menu li a:visited {
   color: #fff;
   display: block;
   font-size: 18px;
   font-weight: 100;
   padding: 30px 40px;
   text-decoration: none
}

.menu .icon-close {
   position: absolute;
   top: 30px;
   right: 30px;
   cursor: pointer
}

.icon-menu {
   position: absolute;
   top: 30px;
   left: 30px;
   cursor: pointer
}
